.myLink{
    color:#db3d44;
    font-size: 18px;
}

.logoutBtn{
    background-color: #0096cc;
    border:none;
    border-radius: 3px;
}

.otherBtn{
    background-color: #db3d44;
    border:none;
    border-radius: 3px;
    margin-right: 10px;
}

.betting{
    margin-bottom: 0rem;
    font-size: 29px;
}

.refreshIcon {
    margin-left: 5px;
}
