.paragPtofit{
    display: flex;
    margin-left: 65px;
}

.statisticsStyle{
    font-size: 40px;
    font-weight: 300;
}

.descriptionStyle{
    font-size: 20px;
    font-weight: 300;
}

.topMarg{
    margin-top: 40px;
}